
<nav class="nav">
 
  <div class="nav-left">
     <a class="nav-item logo" routerLink="/">
      <img src="assets/images/angularfirebase.png" width="30px" alt="Firestarter Angular4 Demo App"/> FireStarter
    </a>
  </div>
 
<!-- Default dropleft button -->
<div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">view_module</i>
    </button>
    <div class="dropdown-menu">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <user-profile></user-profile>
          
            </div>
          </div>
    </div>
  </div>

  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <span></span>
    <span></span>
    <span></span>
  </span>
<!--
  <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
    <a class="nav-item" routerLink="/login">
      Login
    </a>
    <a class="nav-item" routerLink="/notes">
      Firestore
    </a>
    <a class="nav-item" routerLink="/items">
      Realtime DB
    </a>
    <a class="nav-item" routerLink="/uploads">
      File Uploads
    </a>
  </div>

-->

</nav>

