<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
    <div class="carousel-inner">

          <div class="carousel-item">
                <img src="../assets/images/doelivros.jpg" style="width:800%; height:600px;" >
           </div>

          <div class="carousel-item">
                <iframe src="https://drive.google.com/embeddedfolderview?id=0BwRy6q6MoGTpV2VhQUNtb3ItVGs#list" style="width:100%; height:800px; border:0;"></iframe>
          </div>

         <div class="carousel-item">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j1h8-WvzexY" frameborder="0" allow="autoplay; encrypted-media"></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7BYdyaFG7yM" frameborder="0" allow="autoplay; encrypted-media"></iframe>
         </div>

         <div class="carousel-item active">
                <img src="../assets/images/d.jpg" style="width:800%; height:600px;" >
        </div>

   </div>
     
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="badge badge-warning"> <i class="material-icons">skip_previous</i></span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="badge badge-danger"> <i class="material-icons">skip_next</i></span>
        </a>
      </div>
    