<div class="container">
    <div class="item item-1">

        <video width="400" height="400" autoplay loop>
            <source src="../assets/images/x.mp4" type="video/mp4">
        </video>

    </div>
    <div class="item item-2">
        <video width="400" height="400" autoplay loop>
            <source src="../assets/images/x2.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="item item-3">
        <video width="400" height="400" autoplay loop>
            <source src="../assets/images/x3.mp4" type="video/mp4">
        </video>
    </div>
    <div class="item item-4">
        <video width="400" height="400"  autoplay loop>
            <source src="../assets/images/x4.mp4" type="video/mp4">
        </video>
    </div>
    
     <div class="div">
  
 
  </div>

<!--ONDAS 
  <div class="cssload-wrap">
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
	<div class="cssload-circle"></div>
</div>


<div class="bubblingG">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
</div>
-->